{% extends "base.html" %}

{% block title %}
<title>ToDoList</title>
{% endblock title %}


{% block  content %}
<div class = 'container'>
    <div class = 'container'>
    <br>
    {% for message in messages%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <form method="POST">
      {% csrf_token %}
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Task Name</span>
          <input type="text" class="form-control" placeholder="Task Name"aria-describedby="basic-addon1" name="task">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Assignee</span>
            <input type="text" class="form-control" placeholder="Assignee"aria-describedby="basic-addon1" name="assignee">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="id_status">Status</span>    
            <select name="status" id="id_status" class="form-control" name ="status">
                <option value="" selected="">---------</option>
                <option value="TO_DO">To do</option>
                <option value="DEFINED">Defined</option>
                <option value="IN_PROGRESS">In Progress</option>
                <option value="COMPLETED">Completed</option>
            </select>
        </div>
          
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">ETA</span>
            <input type="text" class="form-control" placeholder="YYYY-MM-DD" aria-describedby="basic-addon1" name="ETA">
        </div>
        <div class="input-group mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="defaultCheck1" name="risk_flag">
                <label class="form-check-label" for="defaultCheck1">Risk</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Task</button>
      </form>
    </div>
      <br>
    <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th class="col-3">Task Name</th>
            <th class="col-2">Assignee</th>
            <th class="col-1">Status</th>
            <th class="col-2">ETA</th>
            <th class="col-1">Risk</th>
            <th class="col-1">Edit</th>
            <th class="col-1">Delete</th>
          </tr>
        </thead>
        {% if tasks%}
          <tbody>
            {% for obj in tasks %}
              {% if obj.risk_flag %}
                  <tr class="table-warning">
              {%elif obj.status == 'COMPLETED'%}
                  <tr class="table-success">
              {%else%}
                  <tr>
              {% endif %}
                      <td class="col-5">{{obj.task}}</td>
                      <td class="col-2">{{obj.assignee}}</td>
                      <td class="col-1">{{obj.status}}</td>
                      <td class="col-2">{{obj.ETA}}</td>
                      <td class="col-1">{{obj.risk_flag}}</td>
                      <td class="col-1"><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-secondary">Edit</button></a></td>
                      <td class="col-1"><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
                        Delete
                      </button>
                    </a></td>
                  </tr>
            {% endfor %}
          </tbody>
          {% endif %}
        
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="?pg=1"><<</a></li>
          {% if tasks.has_previous %}
            <li class="page-item"><a class="page-link" href="?pg={{tasks.previous_page_number}}">{{tasks.previous_page_number}}</a></li>
          {% endif %}
          <li class="page-item"><a class="page-link page-item active">{{tasks.number}}</a></li>
          {% if tasks.has_next %}
            <li class="page-item"><a class="page-link" href="?pg={{tasks.next_page_number}}">{{tasks.next_page_number}}</a></li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="?pg={{tasks.paginator.num_pages}}">>></a></li>
        </ul>
      </nav>
</div>
{% endblock content %}

  