{% extends "base.html" %}

{% block title %}
<title>ChatBot</title>
{% endblock title %}

{% block  content %}
<div class = 'container'>
    <div class = 'container'>
        <br>
        {% for message in messages%}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <h5> Split your task in to sub tasks for more production<h5>
        <form method="POST">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Task</span>
                <input type="text" class="form-control" placeholder="Task Name"aria-describedby="basic-addon1" name="prompt">
            </div>
            <button type="submit" class="btn btn-primary">Generate</button>    
        </form>
    </div>
    <div class = 'container'>
        <h5>Generated Sub Tasks</h5>
        <pre>{{generated_value}}</pre>
    </div> 
</div>        
{% endblock content %}

